*   {
    font-family: gelasio;
}

body {
    margin: 0;
    overflow-x: hidden;

}

#gridwrapper_index {
display: grid;
grid-template-rows: 12vh 88vh 50vh 16vh;
grid-template-columns: 1fr; 
grid-template-areas: 
"he"
"sl"
"bo"
"fo";
}

#gridwrapper_omoss {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 12vh 2fr 2fr 25vh 16vh;
        grid-gap: 15px;
        text-align: center;
        background-color: #d5dfd2;
        grid-template-areas: 
        "he he he"
        "op t1 t1"
        "t2 t2 bi"
        "t3 t3 t3"
        "fo fo fo";
}
    
    #openruta { grid-area: op;}
    #textruta1 { grid-area: t1; }
    #bildruta { grid-area: bi; }
    #textruta2 { grid-area: t2; }
    #textruta3 { grid-area: t3; }
    #omossfooter { grid-area: fo; }

#gridwrapper_restaurang {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 10vh 1fr 10vh 1fr 16vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "he"
    "mtext"
    "mat"
    "bmtext"
    "bmat"
    "fo";
}

    #matflexbox { grid-area: mat; background-color: plum;}
    #bmatflexbox { grid-area: bmat; background-color: rgb(118, 223, 255);}

#title  {
text-decoration: none;
color: black;
font-size: 5vh;
}

#title:hover    {
   cursor: pointer;
}

#open_today {
    text-decoration: none;
    color: black;
    font-size: 1.5vh;
}

#open_today h2  {
    color: black;
}

#open_today h3  {
    color: black;
}

#open_today:hover   {
    cursor: pointer;
}

#hamburgermeny  {
    height:  5vh;
    width: auto;
}

a {
    text-decoration: none;
    
}

a:visited   {
    text-decoration: none;
}

header    {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: #85FF70;
    align-items: center;
    text-decoration: none;
    z-index: 2;
    grid-area: he;
}

#openruta   {
    text-align: center;
    border: 2px solid #A5E693;
    width: 350px;
    height: 375px;
    justify-self: center;
    align-self: center;
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

}

#omossbildruta  {
    border-radius: 10px;
    box-shadow: -1px 5px 16px 0px rgba(0,0,0,1);
    border: 3px solid #1C6EA4;
}

#slideshow  {
    background-color: chocolate;
    grid-row: 2;
    grid-column: 1;

}

#slideshow img    {
    height: 88vh;
    width: 100vw;
}

.slide  {
    width: 100vw;
}

.slidetitle {
    text-align: center;
    filter: drop-shadow(0px 0px 5px #ffffff);
}

#djurslidetext  {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#restaurangslidetext  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#djurparkslidetext  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.matflex   {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

}

#mattext    {
    grid-area: mtext;
    text-align: center;
    background-color: plum;
}

#bmattext   {
    grid-area: bmtext;
    text-align: center;
    background-color: rgb(118, 223, 255);
}

.matcard    {
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: #A5E693;
    margin: 2vh;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 12px rgba(0,0,0,.40);
}

.matcard:hover  {
    cursor: pointer;
}

.matcardtext  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    filter: drop-shadow(0px 5px 9px #000);
}

#dish1  {background-image: url(/img/food/dish1.jpg); background-position: center; color: #ffffff;}
#dish2  {background-image: url(/img/food/dish2.jpg); background-position: center; color: rgb(255, 255, 255);}
#dish3  {background-image: url(/img/food/dish3.jpg); background-position: center; color: rgb(255, 255, 255);}
#dish4  {background-image: url(/img/food/dish4.jpg); background-position: center; color: rgb(255, 255, 255);}
#dish5  {background-image: url(/img/food/dish5.jpeg); background-size: cover; color: rgb(255, 255, 255);}
#dish6  {background-image: url(/img/food/dish6.jpeg); background-size: cover; background-position: center; color: rgb(255, 255, 255);}
#dish7  {background-image: url(/img/food/dish7.jpeg); background-size: cover; color: rgb(255, 255, 255);}
#dish8  {background-image: url(/img/food/dish8.jpeg); background-size: cover; color: #ffffff;}
#dish9  {background-image: url(/img/food/dish9.webp); background-size: cover; color: rgb(255, 255, 255);}
#dish10 {background-image: url(/img/food/dish10.jpg); background-size: cover; background-position: center; color: rgb(255, 255, 255);}
#dish11 {background-image: url(/img/food/facepaint.png); background-size: cover; background-position: center; color: #ffffff;}

.linkcard {
    box-shadow: 0px 0px 16px 12px rgba(0,0,0,.75);
    height: 400px;
    width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    flex-shrink: 0;
    transition: box-shadow 0.15s ease-in-out;
    text-decoration: none;
    background-size:cover;
    display: grid;
    align-items: center;
    justify-items: center;
}

.link1  {
    background-image: url(/img/slideshow_backgrounds/bokanuarticlebild.jpg);
}

.link2  {
    background-image: url(/img/slideshow_backgrounds/restaurangenarticlebild.jpg);
}

.link3  {
    background-image: url(/img/slideshow_backgrounds/omossarticlebild.jpg);
}

.linkcard:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 14px rgba(0,0,0,.75);
}

#linkboxsection {
    display: flex;
    flex-direction: row;
    grid-row: 3;
    grid-column: 1;
    
}

.articlelink    {
    color:rgb(0, 255, 149);
    
}

.articleimg     {
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

footer  {
   display: flex;
   position: relative;
   background-image: url(/img/slideshow_backgrounds/landskapsfooter.jpg);
   background-size: cover;
   bottom: 0;
   width: 100%;
   grid-area: fo;
}

#endtext    {
    order: 1;
    color: rgb(102, 255, 0)
    
}

#quote  {
    order: 2;
    width: 100%;
    text-align: center;
    position: absolute;
}

.omosstitles    {
    text-align: center;
}


